<div class="container">
    <h1>Find a Recipe</h1>
    <form [formGroup]="form" (ngSubmit)="processForm()">
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput placeholder="What's cooking..." formControlName="query">
            <button mat-button matSuffix mat-icon-button 
                color="primary" aria-label="search">
                <mat-icon>search</mat-icon> 
            </button>
        </mat-form-field>
    </form>
</div>

<!-- <button routerLink="/masterKitchen/search/recipe/1234">Recipe</button> -->

<router-outlet></router-outlet>
