mat-card {
    width: 280px;
    height: 300px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 12px 12px 12px 12px; */
    cursor: pointer;
}

.body {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 25px;
}

.example-card:hover {
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}

[hidden] {
    visibility: hidden;
}

