mat-card {
    width: 280px;
    height: 300px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 12px 12px 12px 12px; */
    cursor: pointer;
}

h2 {
    margin-bottom: -4px;
    color: #3F51B5;
}

.no-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 30px;
}

.body {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 25px;
}

.example-card:hover {
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px 40px 20px 40px;
    /* border: 1px solid red; */
}

[hidden] {
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

