<div class="main" *ngIf="recipe.label.length == 0">
    <mat-spinner></mat-spinner>
</div>

<div class=main *ngIf="recipe.label.length > 0">
    <mat-card class=container>
        <h1>{{ recipe.label }}</h1>
        <div class="main">
            <div class="section-one">
                <img src="{{ recipe.image }}" alt="recipe image">
            </div>
            <div class="section-two">
                <p>Recipe ID: <span>{{ recipe.recipe_id }}</span></p>
                <p>Calories: <span>{{ recipe.calories }} kcal</span></p>
                <p>Serving(s): <span>{{ recipe.servings }}</span></p>
                <p>Ingredients required:</p>
                <ul>
                    <li *ngFor="let step of recipe.ingredientLines">{{ step }}</li>
                </ul>
                <a href="{{ recipe.link }}" target="_blank">Recipe instructions</a>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button mat-flat-button color="primary" (click)="reRouteBack(query, num)">Back</button>
            </div>
            <div class="right-buttons">
                <button mat-stroked-button color="primary" [routerLink]="['/masterKitchen/upload/snap', recipe.recipe_id]">
                    Snap a cook
                </button>
                <!-- <div> -->
                    <button *ngIf="!isSaved" class="example.button" mat-button matSuffix mat-stroked-button
                        color="secondary" aria-label="save"
                        (click)="alterSavedRecipes(recipe.recipe_id, recipe.label, 'add')">
                        <mat-icon>save</mat-icon><span>Save recipe</span>
                    </button>
                    <button *ngIf="isSaved" class="example.button" mat-button matSuffix mat-raised-button color="accent"
                        aria-label="save" (click)="alterSavedRecipes(recipe.recipe_id, recipe.label, 'remove')">
                        <mat-icon>save</mat-icon><span>Recipe saved</span>
                    </button>
                <!-- </div> -->
            </div>
        </div>
    </mat-card>
</div>

<!-- <hr> -->
<app-post></app-post>