<nav *ngIf="loggedIn()" class="loggedIn">
    <div class="left">
        <img src="/assets/logo.png" (click)="routeLandingPage()">
        <button mat-button [routerLink]="['/masterKitchen/explore/latest']">Explore</button>
        <button mat-button [routerLink]="['/masterKitchen/search']">Search Recipes</button>
        <button mat-button [routerLink]="['/masterKitchen/upload/snap']">Upload Post</button>
        <button mat-button [routerLink]="['/masterKitchen/profile']">My Profile</button>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    </div>
    <!-- <button mat-button [matMenuTriggerFor]="profile">My Profile</button>
        <mat-menu #profile="matMenu">
        <button mat-menu-item>Saved Recipes</button>
        <button mat-menu-item>My Recipes</button>
        <button mat-menu-item>Upload Recipe</button>
        </mat-menu> -->
</nav>
<nav *ngIf="!loggedIn()" class="notLoggedIn">
    <img src="/assets/logo.png" (click)="routeLandingPage()">
    <div>
        <button mat-button [routerLink]="['/login']">Login</button>
        <button mat-flat-button color="primary" [routerLink]="['/signUp']">Sign Up</button>
        <!-- <button mat-button [matMenuTriggerFor]="profile">My Profile</button>
            <mat-menu #profile="matMenu">
            <button mat-menu-item>Saved Recipes</button>
            <button mat-menu-item>My Recipes</button>
            <button mat-menu-item>Upload Recipe</button>
            </mat-menu> -->
    </div>
</nav>