* {
    font-size: 1rem;
}

.notLoggedIn {
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 48px 10px 35px;
}

.left {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

nav {
    height: 70px;
}

img {
    width: 250px;
    cursor: pointer;
}

button {
    margin: auto 5px;
}

.loggedIn {
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px 10px 35px;
}



