button {
    margin: 10px;
    padding: 0 20px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.card {
    margin-top: 10px;
    /* margin- */
    /* display: flex; */
    width: 95%;
    /* border: 1px solid red; */
    /* margin-left: 20px; */
}

.none {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;   
    /* border: 1px solid red; */
}

h3 {
    margin-right: 10px;
}