.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
}

i {
    margin-right: 25px;
    transform: scale(1.5);
    /* border: 1px solid red; */
}

