<!-- <div class="body">
    <h1>Share your recipe</h1>
    <p>~ food makes the world goes round ~</p>
    <mat-card>
        <mat-card-title>
            Welcome back to  Master Kitchen
        </mat-card-title>
        <form [formGroup]="form" (ngSubmit)="processForm()">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                    formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="!userExists">Your email or password is incorrect. Please try again.</mat-error>
            <p>New user? <span><a [routerLink]="['/signUp']">Sign up</a> here.</span></p>
            <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
        </form>
    </mat-card>
</div> -->