form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black; */
    z-index: 1000;
}

mat-card {
    width: 80%;
}

img {
    max-width: 80%;
    height: auto;
}

.container {
    display: flex;
    flex: 1 0 400px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* border: 3px solid blue; */
    justify-content: center;
}

.sub-container {
    /* border: 0.5px solid black; */
    /* flex-direction: column; */
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: auto;
    align-items: center;
    justify-content: center;
}