form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid gray; */
    z-index: 1000;
}

mat-card {
    width: 80%;
    margin-right: 30px;
}

img {
    width: 80%;
    height: 80%;
}

.container {
    display: flex;
}

.sub-container {
    /* border: 1px solid black; */
    display: flex;
    width: 50%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}