:host ::ng-deep .mat-tab-header {
    top: 80px;
    z-index: 1000; 
    position: sticky;
    position: -webkit-sticky; /* macOS/iOS Safari */   
    background-color: white; 
}

.mat-tab-link {
    opacity: 1;
  }
  
  .mat-tab-link:focus {
    color: black; 
  }