mat-card {
    width: 400px;
    margin-bottom: 40px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    padding-bottom: 0.2px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    padding-top: 40px;
}

.example-card:hover {
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.right-bottom {
    display: flex;
}

.likes {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.date {
    font-size: 0.8rem;
    /* border: 1px solid red; */
}

mat-card-content {
    /* border: 1px solid blue; */
    height: 130px;
}

p {
    font-size: 1rem;
}

img {
    height: 300px;
}

.id {
    font-size: small;
    font-style: italic;
}

.body-none {
    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;   
    /* border: 1px solid red; */
}

h3 {
    margin-right: 10px;
}

.no-post-button {
    margin: 10px;
    padding: 0 20px;
}

mat-card-actions {
    /* border: 1px solid purple; */
    height: 25px;
}