.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

@media only screen and (min-width: 900px) {
    .body {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .body {
        padding-top: 200px;
    }
}

.navbar-inverse {
    /* background-color: #C1E1C1; */
    /* z-index: 1000; */
    border-bottom: 1px solid gainsboro;
}


/* .nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.body {
    padding-top: 100px;
}

.navbar-inverse {
    background-color: #C1E1C1;
    border-bottom: 1px solid gainsboro;
} */