.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.body {
    padding-top: 50px;
}

.navbar-inverse {
    /* background-color: #C1E1C1; */
    border-bottom: 1px solid gainsboro;
}